.city-detail {
    display: flex;
    flex-direction: row;
    padding-right: -10%;
}

.city-detail-header {
    margin-top: 3%;
    margin-left: 3%;
}

.city-detail-header h3{
    width: 125%;
    font-weight: 400;
}

.city-detail-header h4{
    margin-top: -15.5%;
    font-weight: 300;
}

.city-detail img {
    width: 50%;
    height: 50%;
    margin-left: 18.5%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.city-detail-posts h4 {
    margin-left: 4.5%;
    margin-bottom: 1%;
}

.city-detail-posts {
    padding-right: 1%;
    margin-left: -1.75%;
}