.single-city-tab {
    display: flex;
    flex-direction: row;
    height: 125px;
    width: 95%;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 7px;
}

.single-city-tab img {
    padding-top: 2px;
    margin-bottom: 8.5px;
    width: 79.75%;
    position: relative;
    object-fit: cover;
    filter: grayscale(100%);
}

.single-city-tab h4 {
    margin-top: 0.1%;
    padding-top: 2.75%;
    text-align: center;
    width: 28.67%;
    z-index: 1;
    position: absolute;
    color: white;
    text-align: center;
    height: 108px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Josefin Sans', sans-serif;
}


