.waves-yellow {
    position: absolute;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    top: -7px;
    left: 1200px;
    right: -299px;
    bottom: -280px;
    background-color: blue;
}

.waves-light {
    position: absolute;
    left: 1000px;
    top: -7px;

}