section {
    display: flex;
    flex-direction: row;
}

.about-header {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

article {
    margin: 5px 10px;
}

p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: lighter;
}