.user-post-content h4 {
    text-align: left;
    margin-left: 5.2%;
    margin-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    border-bottom: 3px solid #333;
    width: 90%; 
}

.user-post-content {
    margin-top: -0.25%;
}

.profile-post-container {
    width: 107%;
    padding-right: .6%;
    margin-bottom: 5%;
}