.user-post-content h3 {
    text-align: left;
    margin-left: 5.2%;
    margin-top: 9%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 1.5px solid #333;
    width: 90%;
}

.user-post-content {
    margin-top: -0.25%;
}

.profile-post-container {
    width: 107%;
    padding-right: .6%;
    margin-bottom: 5%;
}