.nav {
    background-color: black;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.brand-logo {
    margin-top: 5px;
    margin-left: 1%;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    transform: skew(-3deg);
}

.nav-wrapper {
    width: 100%;
    box-shadow: 0 0px 4px #FFFF00;
}

ul {
    list-style: none;
    height: 95%;
}

a {
    text-decoration: none;
    color: white;
    justify-content: space-between;
}

a:hover {
    color: #ccff00;
}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}