.user-posts-tab {
    text-align: center;
    padding-left: 2%;
    padding-right: 3%;
    margin-bottom: 5%;
}

.user-posts-tab h3 {
    margin-top: 1%;
    margin-bottom: 2%;
}

.user-posts-tab img {
    width: 20%;
    height: 20%;
}

.post-snippet {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 1%;
    padding-bottom: 1%;
    border-bottom: 2px solid #333;
}

.post-snippet p {
    margin-left: 2%;
    align-self: flex-end;
}