.user-info {
    display: flex;
    flex-direction: column;
    line-height: .75em;
    margin-top: 5%;
    height: 100vh;
    color: #999;
}

.profile-page-left img {
    width: 112%;
    margin-left: -5.5%;
    text-align: center;
    margin-bottom: -1.5%;
}

.edit-profile {
    color: #999;
}
.edit-profile:hover {
    cursor: pointer;

}

.user-info p {
    width: 100%;
    text-align: center;
}

.profile-detail-name {
    color: #999;
}

